<p>Welcome to The Subscription service</p>
<p>Your account has been activated now</p>
<p>
    You’re all set, now you can easily handle your client dashboard by just login with your account details as per below details.
</p>
<p>
    You can also download your service agreement after login
</p>
<div>
    <p>Login ID: {{ emailID }}</p>
    <p>Password: {{ password }}</p>
</div>

<h3>Now, we’re your Facilities Maintenance Partner </h3>
<div>
<p>Selected Package: {{ categoryOfService }}</p>
<p>Activation on: {{ date }}</p>
</div>
<p>You’re receiving this mail because you’ve signed up for a new account with us </p>